body { 
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    color: white; 
    text-shadow: 2px 2px 2px black;
}

.grid-box { 
    display: grid;
    grid-template-columns: 100% 100%;
    text-align: center;
    height: 100vh;
    width: 50%;
}

.box { 
    display: flex;
    justify-content: center;
    align-items: center;
}

.one { 
    background-color: #f44336;
}

.two {
    background-color: #FF9800;
}

.three {
    background-color: #FFEB3B;
}

.four { 
    background-color: #8BC34A;
}

.five { 
    background-color: #2196F3;
}

.six {
    background-color: #9C27B0;
}

@media only screen and (min-width: 600px) {
    .grid-box { 
        display: grid;
        grid-template-columns: 100% 100% 100%;
        text-align: center; 
        width: 33.33vw;
    }
}